@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;900&family=Varela+Round&display=swap");
:root {
  --red: #bd4141;
  --light-red: #fff6f6;
  --bright-red: #ff5f5f;
  --noto: "Noto Sans JP", sans-serif;
  --vorelo: "Varela Round", sans-serif;
}
body {
  margin: 0;
  font-family: var(--noto);
}

/* Navbar */
.navbar-brand,
ul > li > .nav-link {
  color: white;
}
/* Navbar */

/* Isi Content */
#sub-content1 > h1,
#sub-content1 > p {
  margin: 0;
}
#sub-content1 > h1 {
  font-size: 3vw;
}
#sub-content1 > p {
  font-size: 1.3vw;
  font-weight: lighter;
}
#sub-content1 > #h1-business {
  margin-bottom: 20px;
}
#sub-content1 > #p-bootstrap {
  margin-bottom: 60px;
}
#sub-content3 > #in-a > input {
  width: 100%;
  height: 40px;
  border-radius: 100px;
  padding-left: 20px;
  border: transparent !important;
  box-shadow: 3px 3px 10px rgb(225, 225, 225);
}
#sub-content3 > #in-a {
  width: 700px;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#content {
  padding: 150px 50px 70px 50px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
#sub-content1 {
  margin-bottom: 10px;
}
#sub-content3 {
  background-color: var(--light-red);
  color: var(--red);
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  padding: 70px 50px;
  font-size: 0.8vw;
}
#sub-content3 > h1 {
  margin-bottom: 10px;
}
#sub-content3 > p {
  margin-bottom: 35px;
}
#watch-video-button {
  width: 120px;
  height: 45px;
  background-color: transparent;
  border: none !important;
}
#get-started-button {
  width: 120px;
  height: 45px;
  border: transparent;
  border-radius: 100px;
  background-color: var(--bright-red);
}
#get-started-button2 {
  width: 120px;
  height: 40px;
  right: 0;
  top: 3%;
  border: transparent;
  position: absolute !important;
  border-radius: 100px;
  background-color: var(--bright-red);
}
input:focus {
  outline: none !important;
}
button {
  color: white;
  font-weight: medium !important;
  font-size: 105% !important;
}
#get-started-button:hover {
  background-color: white !important;
  color: var(--red);
  transition: background-color 400ms linear;
}
#get-started-button2:hover {
  background-color: white !important;
  color: var(--red);
  border: 2px solid var(--red) !important;
  transition: background-color 400ms linear;
}
#watch-video-button:hover {
  border-radius: 50px;
  background-color: #ffffff !important;
  color: var(--red);
  transition: background-color 400ms linear;
}
#watch-video-button {
  margin-left: 20px;
}
#sub-content2 > img {
  width: 800px;
  max-width: 100%;
  height: auto !important;
}
#bf-footer {
  display: flex !important;
  padding: 100px;
  justify-content: space-around;
  font-size: 0.86vw;
}
#bf-footer > div > h1,
#bf-footer > div > h3 {
  color: var(--red);
}
#bf-footer > div > h3 {
  margin: 0.75em 0;
  font-size: 1.5em;
}
#bf-footer > div > a {
  text-decoration: none !important;
  color: black !important;
}
#bf-footer > div > #bt-social {
  display: flex !important;
  gap: 10px;
  width: 100%;
}
#bf-footer > div > div > button {
  aspect-ratio: 1;
  border-radius: 50%;
  height: 45px;
  border: none !important;
  background-color: var(--bright-red);
}
#bf-footer > .bf-footer > a > p {
  margin-bottom: 30px;
}
/* Isi Content */

/* Footer */
#footer {
  padding: 10px;
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  color: white;
  background-color: var(--red);
  font-size: 0.8vw;
}
#footer > div {
  margin: 0 100px;
}
/* Footer */
