@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Oswald&family=Roboto:wght@900&family=Varela+Round&display=swap");

:root {
  --primary: #ffc26f;
  --secondary: #895e43;
  --tertiary: #3f2305;
  --opsional: #757475;
  --oswald: "Oswald", sans-serif;
  --varela: "Varela Round", sans-serif;
  --mplus: "M PLUS Rounded 1c", sans-serif;
  --roboto: "Roboto", sans-serif;
}

body {
  height: 100%;
  background-color: white !important;
}
img {
  width: 50px;
}

.navbar .navbar-nav .nav-link {
  transition: all 0.5s;
  border-radius: 2ch;
  padding: 5px 1rem;
  font-size: larger;
  font-family: var(--varela);
  color: var(--tertiary);
}

.navbar .navbar-nav .nav-link:hover {
  font-size: larger;
  color: white;
  background-color: var(--primary);
}

.navbar .navbar-brand2 .btn {
  transition: all 0.5s;
  font-weight: 500;
  font-size: large;
  background-color: var(--tertiary);
  font-family: var(--mplus);
  text-decoration: none;
  padding: 3px 30px;
  color: white;
}

.navbar .navbar-brand2 .btn:hover {
  color: var(--tertiary);
  font-family: var(--mplus);
  background-color: var(--primary);
}

.product {
  width: 70%;
}

.content {
  font-family: var(--roboto);
  font-size: 6vw;
  margin: 0;
  padding: 0;
}

.content {
  font-family: var(--roboto);
  font-size: 6vw;
}

.name {
  color: var(--primary);
  /* background-color: var(--primary); */
  border: 4px solid var(--primary);
  border-radius: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.contact {
  background-color: var(--primary);
}

#contact-us {
  font-family: var(--varela);
  font-weight: 900;
  color: var(--secondary);
  font-size: calc(1rem + 3vw);
}
#text {
  padding: 10px;
}
#contact-us-form {
  padding: 30px;
}

/* .row input {
  width: 60%;
  margin: 0;
  padding: 0;
} */

#contact-us-desc {
  font-family: var(--varela);
  color: white;
  font-size: calc(0.5rem + 1vw);
}

.form-label {
  font-family: var(--varela);
  color: white;
  font-size: calc(0.5rem + 0.5vw);
  font-weight: 500;
}

.form-control {
  background-color: #faf3ec;
  border-color: transparent;
}
.form-control:focus {
  background-color: #fafafa;
  border-color: transparent;
}

#submit {
  transition: all 0.5s;
  color: white;
  font-family: var(--varela);
  background-color: var(--secondary);
}

#submit:hover {
  color: white;
  font-family: var(--varela);
  background-color: var(--tertiary);
}

/* footer */

.footer-content {
  background-color: var(--tertiary);
}
.footer-logo {
  width: 7vw;
}
.footer-left p,
.footer-center i,
.footer-center p,
.footer-right p,
.footer-right a,
.footer-center p a {
  color: white;
  font-size: calc(0.5rem + 0.5vw);
  text-decoration: none;
}

.footer-center p a:hover {
  transition: all 0.5s;
  color: var(--primary);
}

.footer-left p,
.footer-center p,
.footer-right p {
  font-family: var(--varela);
}

.footer-center i {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 100px;
}

.footer-icons i:hover {
  transition: all 0.5s;
  color: var(--primary);
}

.footer-center p a {
  color: white;
  font-size: calc(0.5rem + 0.5vw);
}
